body {
  width: 70%;
  margin: auto;
}

ul {
  display: inline-block;
  text-align: left;
}

#logoBlock {
  display: inline-block;
  vertical-align: top;
}

#recipeCard {
  font-family: 'Abel';
  background-image: url("/img/paper.jpg");
  text-align: center;
}

nav img {
  display: inline-block;
}
#icons {
  float: right;
  line-height: 45px;
  padding-top: 10px;
}