body {
  width: 70%;
  margin: auto;
  font-size: 15px;
}

header {
  font-family: "Abel";
  font-size: .8em;
  font-weight: bold;
  margin-top: 2em;
}

ul {
  display: inline-block;
  text-align: left;
}

#logoBlock {
  display: inline-block;
  vertical-align: top;
}

#recipeCard {

  padding: 1em;
  height: 12em;
  font-family: 'Walter Turncoat';
  line-height: 1.75;
  font-size: 1.2em;
  background-image: url(../img/paper.jpg);
  font-family: 'Abel';
  background-image: url("../img/paper.jpg");

  text-align: center;
}

#recipeCard ul {
  padding: 1em 2em;
  color: rgba(0, 0, 0, 0.623);
}

#logoBlock h2 {
  font-family: "Yellowtail";
  font-weight: bold;
  font-size: 3em;
}

#logoBlock p {
  color: rgb(190, 190, 190);
  text-transform: uppercase;
}

nav img {
  display: inline-block;
}
#icons {
  float: right;
  line-height: 45px;
  padding-top: 10px;
}

.blockLine {
  height: 1em;
  background-image: linear-gradient(45deg, rgb(190, 190, 190) 25%, transparent 25%, transparent 50%, rgb(190, 190, 190) 50%, rgb(190, 190, 190) 75%, transparent 75%, #fff);
  background-size: 4px 4px;
  border: none;
  margin-top: 2em;
}

#titleLine {
  margin-top: 4em;
  font-family: "Oswald";
  font-weight: bold;
}

#titleLine p{
  font-size: .9em;
  color: rgb(190, 190, 190);
  text-transform: uppercase;
  display: inline-block;
  margin: .8em 0 .8em 0;
  font-weight: normal;
}

#titleLine h1 {
  font-size: 3em;
  font-weight: 700;
  display: inline-block;
}

#printIcon {
  float:right;
  display: block;
  font-weight: normal;
}

#heroImage {
  width: 100%;
  margin-top: 1em;
}



#bio{
  display: inline-block;
  line-height: 2em;
  font-family: "Libre Baskerville";
}

#author {
  margin-top: 2em;
  margin-bottom: 2em;
}
#bio h3 {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 2em;
}

#bio p {
  width: 33em;
  line-height: 1.2em;
  color: rgb(190, 190, 190);
}

#shareRecipe {
  text-transform: uppercase;
  color: white;
  width: 10em;
  height: 3em;
  font-family: sans-serif;
  float: right;
  background-color: rgb(190, 119, 86);
  border: none;
}
